name: Test without JIT
# Allow coverage tool to cover jit-compiled code

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          use-mamba: true
          python-version: "3.12"
          environment-file: ci/requirements-latest.yml
          activate-environment: pyscenarios

      - name: Show conda options
        run: conda config --show

      - name: conda info
        run: conda info

      - name: conda list
        run: conda list

      - name: Install
        run: python -m pip install --no-deps -e .

      - name: pytest
        env:
          NUMBA_DISABLE_JIT: 1
        run: pytest --verbose --cov=pyscenarios --cov-report=xml

      - name: codecov.io
        uses: codecov/codecov-action@v5
